<app-nav-menu></app-nav-menu>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10">
      <h1>Registro de usuario</h1>
      <p>Ingrese los siguientes datos</p>
    </div>

  </div>


  <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-lg-12 col-md-12">
        <label>Tipo de usuario:</label>
        <select>
          <option value="adminFamilia">Administrador de familia</option>
          <option value="integrante">Integrante familia</option>
        </select>

     


      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12 col-md-12">
        <label for="username">Nombre de usuario</label>
        <input type="text"
               class="form-control"
               name="username"
               id="username"
               formControlName="Username"
               placeholder="mariela">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12 col-md-12">
        <label for="email">Correo electronico</label>
        <input type="email"
               class="form-control"
               name="email"
               id="email"
               formControlName="Email"
               placeholder="mbonillag@ucenfotec.ac.cr">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12 col-md-12">
        <label for="member">Miembro o parentezco en familia</label>
        <input type="text"
               class="form-control"
               name="member"
               id="member"
               formControlName="Member"
               placeholder="hija">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12 col-md-12">
        <label for="password">Contraseña</label>
        <input type="password"
               class="form-control"
               name="password"
               id="password"
               formControlName="Password"
               placeholder="1234">
      </div>
    </div>



    <button type="submit" class="btn" [disabled]="isSendingData"
            data-toggle="modal" data-target="#Modal">
      Registrar
    </button>
  </form>
</div>


<app-nav-footer></app-nav-footer>
