<app-nav-menu></app-nav-menu>

<body>
  <div class="container container-fluid">
    <div>
      <div class="menu">
        <button (click)="irListarUsuarios()" class="btn btn-familia btn-sm">
          Listar usuarios
        </button>
        <a class="btn btn-familia" href="/tareas/registro-tareas">Registrar tarea</a>
        <a class="btn btn-familia" href="/tareas/lista-tareas">Listar tareas</a>
        <button (click)="irPerfil()" class="btn btn-familia btn-sm">
          Ir al Perfil de la Familia
        </button>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <h3 class="display-4 text-center">Registrar usuario</h3>
    <hr>



    <form class="form-usuario" [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-lg-6 col-md-6">
          <label>Tipo de usuario:</label>
          <select class="form-control"
                  name="usertype"
                  id="usertype"
                  formControlName="usertype">
            <option value="2">Administrador de familia</option>
            <option value="3">Integrante familia</option>
          </select>




        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-6 col-md-6">
          <label for="username">Nombre de usuario</label>
          <input type="text"
                 class="form-control"
                 name="username"
                 id="username"
                 formControlName="username"
                 placeholder="mariela">
        </div>

        <div class="form-group col-lg-6 col-md-6">
          <label for="email">Correo electronico</label>
          <input type="email"
                 class="form-control"
                 name="email"
                 id="email"
                 formControlName="email"
                 placeholder="mbonillag@ucenfotec.ac.cr">
        </div>

        <div class="form-group col-lg-6 col-md-6">
          <label for="member">Miembro o parentezco en familia</label>
          <input type="text"
                 class="form-control"
                 name="member"
                 id="member"
                 formControlName="member"
                 placeholder="hija">
        </div>

        <div class="form-group col-lg-6 col-md-6">
          <label for="password">Contraseña</label>
          <input type="password"
                 class="form-control"
                 name="password"
                 id="password"
                 formControlName="password"
                 placeholder="1234">
        </div>
      </div>



      <button type="submit" class="btn btn-block btn-usuario" [disabled]="isSendingData"
              data-toggle="modal" data-target="#Modal">
        Registrar
      </button>
    </form>
  </div>
</body>





<app-nav-footer></app-nav-footer>
