<app-nav-menu></app-nav-menu>
<body>

  <div>
    <div class="menu">
      <a class="btn btn-familia" href="/tareas/lista-tareas">Listar tareas</a>
      <button (click)="irRegistrarUsuario()" class="btn btn-familia">
        Registrar usuario
      </button>
      <button (click)="irListarUsuarios()" class="btn btn-familia">
        Listar usuarios
      </button>
      <button (click)="irPerfil()" class="btn btn-familia">
        Ir al Perfil de la Familia
      </button>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="container container-fluid">

    <h3 class="display-4 text-center">Agregar tarea</h3>
    <hr>
    <form class="form-tarea" [formGroup]="tareaForm" (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="form-group col-lg-6 col-md-6">
          <label>Descripción</label>
          <input type="text" class="form-control" name="descripcion" id="descripcion"
                 formControlName="descripcion">


        </div>

        <div class="form-group col-lg-6 col-md-6">

          <label>Miembro de familia</label>
          <select formControlName="persona" class="form-control">
            <option *ngFor="let usuario of usuarios" [ngValue]="usuario.username">{{usuario.username}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6 col-md-6">
          <label>Fecha de asginación</label>
          <input type="date" class="form-control" name="fechaAsignada" id="fechaAsignada"
                 formControlName="fechaAsignada" value="{{currentDate | date:'yyyy-MM-dd'}}">

        </div>

        <div class="form-group col-lg-6 col-md-6">
          <label>Fecha limite</label>
          <input type="date" class="form-control" name="fechaLimite" id="fechaLimite"
                 formControlName="fechaLimite">
        </div>

      </div>
      <div class="form-group">
        <button [disabled]="!tareaForm.valid" type="submit"
                class="btn btn-block  btn-familia" data-toggle="modal"
                data-target="#Modal">
          Registrar
        </button>
      </div>
    </form>
  </div>
</body>

<app-nav-footer></app-nav-footer>
