

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HomeCheck - To do list app</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../assets/landingPage/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../../../assets/landingPage/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../../../assets/landingPage/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <!--<link href="../../../assets/landingPage/css/landing-page.css" rel="stylesheet">-->

</head>

<body>


  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Homecheck</a>
      <a><img src="../../assets/img/logo_transparent2.png" width="70" height="60" /></a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li>
            <a class="btn btn-primary" href="/home">Iniciar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>




  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">¡Empiece su organización de tareas con HomeCheck!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-login m-auto iconos"></i>
            </div>
            <h3>Comience siendo parte de nuestra comunidad</h3>
            <p class="lead mb-0">Registrese siendo un administrador e ingrese a su miembros de familia</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-notebook m-auto iconos"></i>
            </div>
            <h3>Registro de tareas</h3>
            <p class="lead mb-0">Podrá registrar sus tareas del hogar y asignarlas a sus miembros</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto iconos"></i>
            </div>
            <h3>Estados de sus tareas</h3>
            <p class="lead mb-0">Podrá verificar cuales tareas fueron completadas</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../../assets/landingPage/img/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Gratis</h2>
          <p class="lead mb-0">No requiere de ningún método de pago para utilizar nuestros servicios</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../../assets/landingPage/img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Organizacion</h2>
          <p class="lead mb-0">Mantiene la organizacioón de tareas en su hogar</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../../assets/landingPage/img/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Fácil de usar</h2>
          <p class="lead mb-0">Cuenta con una interfaz amigable para cualquier miembro de familia</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Equipo de desarrollo</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../../../assets/landingPage/img/Eduardo.jpeg" alt="">
            <h5>Eduardo Quirós</h5>
            <p class="font-weight-light mb-0">Encargado del backend de la aplicación</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../../../assets/landingPage/img/Mariela.jpeg" alt="">
            <h5>Mariela Bonilla</h5>
            <p class="font-weight-light mb-0">Encargada de la base de datos del la aplicación</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../../../assets/landingPage/img/Paola.jpg" alt="">
            <h5>Paola Sánchez</h5>
            <p class="font-weight-light mb-0">Encargada del frontend de la aplicación</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto col-sm-7">

          <p class="small mb-4 mb-lg-0">&copy; Homecheck 2020. All Rights Reserved.</p>
        </div>

      </div>
    </div>
  </footer> 

  <!-- Bootstrap core JavaScript -->
  <script src="../../../assets/landingPage/vendor/jquery/jquery.min.js"></script>
  <script src="../../../assets/landingPage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
