<app-nav-menu></app-nav-menu>



  <div class=" page-content">

    <div class="contenido">
      <h1>Bienvenido a HomeCheck</h1>
      <h2>Para ser parte de nuestra comunidad y empezar a utilizar nuestros servicios ingrese aquí </h2>
    </div>


    <div class="inicio">

      <div class="inicio-container">

        <form>

          <h3>Inicio de sesión</h3>

          <div class="correo">
            <label>Correo electrónico</label> <br />
            <input type="text" name="name" />
          </div>

          <div class="password">
            <label>Contraseña</label><br />
            <input type="text" name="password" />
          </div>

          <div class="inicio-sesion">
            <button class="btn-sub" type="submit">Iniciar sesión</button><br />

          </div>  
          <div class="registrarse">
            <label>¿No es miembro?</label><br />
          <button type="button">Registrarse</button></div>

        </form>

      </div>

    </div>



  </div>

  



<app-nav-footer></app-nav-footer>
