<app-nav-menu></app-nav-menu>



  <div class=" page-content">

    <div class="contenido">
      <h1>Bienvenido a HomeCheck</h1>
      <h2>Para ser parte de nuestra comunidad y empezar a utilizar nuestro servicio ingrese aquí </h2>
    </div>


    <div class="inicio">

      <div class="inicio-container">

        <form >

          <h3>Inicio de sesión</h3>

          <div>
            <label>Correo electrónico</label> <br />
            <input type="text" name="name" />
          </div>

          <div>
            <label>Contraseña</label><br />
            <input type="text" name="password" />
          </div>

          <button type="submit">Iniciar sesión</button><br />

          
          <button type="button">Registrarse</button>
        </form>

      </div>

    </div>



  </div>

  



<app-nav-footer></app-nav-footer>
