<p>listar-usuariosfamilia works!</p>
<div class="row">
  <div class="col">
    <br>
    <table class="table table-striped table-responsive-sm">

      <thead>
        <tr>
          <th>Id</th>
          <th>Tipo de usuario</th>
          <th>Nombre de usuario</th>
          <th>Correo</th>
          <th>Miembro de familia</th>
          <th>Opciones</th>

        </tr>
      </thead>
      <tr>
        <td>1234</td>
        <td>Integrante</td>
        <td>mariela</td>
        <td>bonilla@gmail.com</td>
        <td>AdminFamilia</td>
        <td class="text-right">
          <button class="btn btn-outline-info btn-sm"><i class="fas fa-edit"></i>Editar</button>&nbsp;
          <button class="btn btn-outline-danger btn-sm">
            <i class="far fa-trash-alt"></i>Eliminar
          </button>
        </td>
      </tr>
      <!--<tr *ngFor="let familia of familias ">
        <td>{{usuario.id}}</td>
        <td>{{usuario.usertype}}</td>
        <td>{{usuario.username}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.member}}</td>+

        <td class="text-right">
          <button (click)="editar({{usuario}})" class="btn btn-outline-info btn-sm"><i class="fas fa-edit"></i></button>&nbsp;
          <button (click)="eliminar({{usuario.id}}, {{usuario.idfamilia}})" class="btn btn-outline-danger btn-sm">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
  </tr>-->
    </table>
  </div>
</div>
