.col {
  margin: 2% 6%;
}

.table {
  margin: 6% 0;
}

.btn-familia {
  background-color: #cf7500;
  border-color: #cf7500;
  color: #ffff;
}

.row {
  padding-bottom: 2.5rem;
  width: 100%;
  min-height: calc(100vh - 70px);
  top: 0;
  padding: 0;
  left: 0;

  margin-bottom: 80px;
}
