<app-nav-menu></app-nav-menu>

<div class="col">
  <div>
    <div class="menu">
      <a class="btn btn-familia" href="/familias/registrar-familia">Registrar familia</a>
      <a class="btn btn-familia" href="/familias/listar-familias">Listar familias</a>
      <a class="btn btn-familia" href="/usuarios">Listar usuarios</a>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="container-fluid">
    <h1>Lista de tareas</h1>

    <div class="row">
      <div class="col">
        <table class="table table-striped .table-responsive-sm">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Fecha asignada</th>
              <th>Fecha límite</th>
              <th>Familiar asignado</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tarea of service.tareas">
              <td>{{tarea.descripcion}}</td>
              <td>{{tarea.fechaAsignada | date:'yyyy-MM-dd'}}</td>
              <td>{{tarea.fechaLimite | date:'yyyy-MM-dd'}}</td>
              <td>{{tarea.persona}}</td>
              <td class="text-right">
                <input type="checkbox" [checked]="tarea.estado == 1" (change)="changed(tarea, tarea.id)" />
                <span>{{tarea.estado == 0 ? 'Incompleto' : 'Completo'}}</span>
              </td>
              <td class="text-right">

                <button class="btn-outline-danger btn-sm" (click)="borrarTarea(tarea.id)">
                  <i class="icon-trash"></i>Eliminar
                </button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>

<app-nav-footer></app-nav-footer>
