<app-nav-menu></app-nav-menu>
<div class="col">
  <div *ngIf="userType=='2'">
    <div class="menu">
      <button (click)="agregarUsuario()" class="btn btn-familia">
        Registrar usuario
      </button>
      <button [routerLink]="['/tareas/registro-tareas']" class="btn btn-familia btn-sm">Registrar tarea</button>
      <button [routerLink]="['/tareas/lista-tareas']" class="btn btn-familia btn-sm">Listar tareas</button>
    </div>
  </div>
  <div *ngIf="userType=='1'">
    <div class="menu">
      <button class="btn btn-familia btn-sm" [routerLink]="['/familias/registrar-familia']">Registrar familia</button>
      <button class="btn btn-familia btn-sm" [routerLink]="['/familias/listar-familias']">Listar familias</button>
      <button class="btn btn-familia btn-sm" [routerLink]="['/usuarios']">Listar usuarios</button>
      <button class="btn btn-familia btn-sm" [routerLink]="['/tareas']">Listar tareas</button>

    </div>
  </div>

  <br />
  <hr />
  <br />
  <h2>Perfil de familia</h2>
  <h3>Familia:</h3>
  <p>{{familiaActual.name}}</p>
  <h3>Correo:</h3>
  <p>{{familiaActual.correo}}</p>


  <h2>Lista de usuarios de familia</h2>
  <div>

  </div>
  <table class="table table-striped table-responsive-sm">

    <thead>
      <tr>

        <th>Nombre de usuario</th>
        <th>Correo</th>
        <th>Miembro de familia</th>
        <th>Opciones</th>

      </tr>
    </thead>
    <tr *ngFor="let usuario of usuarios ">
      <td>{{usuario.username}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.member}}</td>

      <td class="text-center">
        <button (click)="editarUsuario(usuario.id)" class="btn btn-outline-info btn-sm">
          <i class="far fa-trash-alt"></i>Editar
        </button>
        <button (click)="eliminar(usuario)" class="btn btn-outline-danger btn-sm">
          <i class="far fa-trash-alt"></i>Eliminar
        </button>
      </td>
    </tr>
  </table>
</div>

<app-nav-footer></app-nav-footer>
