<p>listar-familias works!</p>
<div class="row">
  <div class="col">
    <br>
    <table class="table table-striped table-responsive-sm">

      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Correo de familia</th>
          <th>Integrantes de Familia</th>
          <th>Opciones</th>

        </tr>
      </thead>
      <tr>
        <td>1234</td>
        <td>Bonilla</td>
        <td>bonilla@gmail.com</td>
        <td><a href="/usuarios/usuarios-familia"> Ver integrantes de familia </a></td>
        <td class="text-right">
          <button class="btn btn-outline-info btn-sm"><i class="fas fa-edit"></i>Editar</button>&nbsp;
          <button class="btn btn-outline-danger btn-sm">
            <i class="far fa-trash-alt"></i>Eliminar
          </button>
        </td>
      </tr>
      <!--<tr *ngFor="let familia of familias ">
        <td>{{familia.id}}</td>
        <td>{{familia.name}}</td>
        <td>{{familia.correo}}</td>
        <td><a [routerLink]="['usuarios/usuarios-familia/{{familia.id}}']"> Ver integrates de familia </a></td>
        <td class="text-right">
          <button (click)="editar(familia)" class="btn btn-outline-info btn-sm"><i class="fas fa-edit"></i></button>&nbsp;
          <button (click)="eliminar(familia.id)" class="btn btn-outline-danger btn-sm">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>-->
    </table>
  </div>
</div>
