/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import '~bootstrap/dist/css/bootstrap.min.css';


htnl, body {
  width: 100%;
  margin-right: 0px;
  margin: 0;
  padding: 0;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

button {
  background-color: #cf7500;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  transition-duration: 0.4s;
}

  button:hover {
    color: #cf7500;
    background-color: #f4f4f4;
  }















